
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

main {
    margin: 30px 100px;
}

h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

input {
    font: inherit;
}


/* Header */
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header-logo {
    width: 50px;
    margin-bottom: 10px;
}


/* Search */
.search-container {
    position: relative;
    overflow: hidden;
    margin-top: 16px;
    border-radius: 5px;
}

.search-input {
    background-color: #e7e7e7;
    border: none;
    padding: 25px 20px;
    width: 100%;
}

.search-input::placeholder {
    color: #000;
    opacity: 0.25;
    font-size: 16px;
}

.search-button {
    background: transparent;
    border: none;
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;
}

.search-button i {
    font-size: 26px;
}


/* Tags */
.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 10px;
}

.tags-item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}

.tags-ustensils {
    background-color: #ed6454;
}

.tags-appliances {
    background-color: #68d9a4;
}

.tags-ingredients {
    background-color: #3282f7;
}

.tags-close {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 0;
    cursor: pointer;
}


/* Filters */
.filter {
    margin-top: 20px;
    margin-bottom: 82px;
    display: flex;
    gap: 20px;
}

.filter-custom {
    position: relative;
    cursor: pointer;
    width: 170px;
}

.filter-custom input[type="text"]::placeholder {
    color: #fff;
    opacity: 0.5;
  }

.filter-select {
    border: none;
    color: #fff;
    width: 100%;
    height: 69px;
    text-align: start;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.ingredients-filter {
    background-color: #3282f7;
}

.appliances-filter {
    background-color: #68d9a4;
}

.ustensils-filter {
    background-color: #ed6454;
}

.filter-arrow {
    position: absolute;
    right: 18px;
    top: 0px;
    display: flex;
    align-items: center;
    height: 100%;
}

.filter-arrow i {
    color: white;
    font-size: 20px;
    z-index: 2;
}

.filter-menu {
    display: none;
}

.filter-show {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 65px;
    color: #fff;
    width: 100%;
    max-height: 375px;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ingredients-menu {
    background-color: #3282f7;
}

.appliances-menu {
    background-color: #68d9a4;
}

.ustensils-menu {
    background-color: #ed6454;
}

.filter_custom-option {
    width: 33%;
    padding: 4px 0 4px 20px;
    font-size: 18px;
}

.filter_custom-option--disable {
    width: 33%;
    padding: 4px 0 4px 20px;
    font-size: 18px;
    color: rgb(165, 162, 162);
    pointer-events: none;
}

.filter_custom-option--disable:hover {
    cursor: default;
}

.filter_custom-option--disable::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: grey;
    transition: 300ms;
}

.filter_custom-option::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #fff;
    transition: 300ms;
}

.filter_custom-option:hover::after {
    width: 15%;
}


/* Recipes */
.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    height: 364px;
    background-color: #e7e7e7;
    border-radius: 5px;
    width: 30%;
}

.card a {
    display: block;
    text-decoration: none;
    color: #000;
}

.card_img {
    height: 178px;
    background-color: #c7bebe;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_body {
    height: 186px;
    padding: 20px;
    margin: 0;
}

.card_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
}

.card_time {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 18px;
    font-weight: 700;
}

.card_clock {
    width: 20px;
}

.card_content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
}

.card_ingredients {
    height: 105px;
    overflow: hidden;
    width: 171px;
}

.card_ingredient_bold {
    font-weight: 700;
}

.card_description {
    height: 102px;
    font-family: 'Roboto';
    overflow: hidden;
    text-overflow: ellipsis;
    width: 171px;
}